"*":
  editor:
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    invisibles: {}
    fontFamily: "Menlo"
    fontSize: 13
    softWrap: true
    preferredLineLength: 120
    autoIndentOnPaste: false
    softWrapAtPreferredLineLength: true
  core:
    themes: [
      "one-light-ui"
      "twilight"
    ]
    disabledPackages: [
      "symbols-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "public"
      "node_modules"
      "coverage"
      ".tags*"
    ]
  linter: {}
  "exception-reporting":
    userId: "6751d7da-5c68-1797-eafb-acaef1724a57"
  welcome:
    showOnStartup: false
  minimap:
    plugins:
      "git-diff": true
      "highlight-selected": true
  pigments:
    delayBeforeScan: 2000
  "atom-ternjs": {}
  "autocomplete-plus": {}
  autosave: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "git-diff":
    showIconsInEditorGutter: true
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=library --exclude=node_modules --exclude=vendor --exclude=test --exclude=bin --exclude=config --exclude=cache --exclude=bower_components --exclude=lib"
  "autocomplete-ctags": {}
  "git-plus":
    wordDiff: false
  "fuzzy-finder":
    searchAllPanes: true
    preserveLastSearch: true
    ignoredNames: [
      "coverage"
      "data"
      "node_modules"
      "data"
      "library"
      "public"
      "cache"
      "public"
    ]
".console.python.text":
  editor:
    preferredLineLength: 120
".python.text.traceback":
  editor:
    preferredLineLength: 120
".python.regexp.source":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    preferredLineLength: 120
