#
# EDITOR
#
'atom-workspace atom-text-editor:not([mini])':
  # select
  'cmd-shift-l': 'editor:select-line'
  'ctrl-w': 'editor:select-word'

  # block
  'shift-tab': 'unset!'
  'alt-tab': 'editor:indent-selected-rows'
  'alt-shift-tab': 'editor:outdent-selected-rows'

  # edit
  'cmd-shift-k': 'editor:delete-line'
  'ctrl-shift-d': 'editor:duplicate-lines'

  # view
  'cmd-alt-w': 'editor:toggle-soft-wrap'
  'cmd-l': 'go-to-line:toggle'

#
# GIT
#
'atom-workspace':
  'alt-shift-g': 'git-plus:menu'
  'ctrl-shift-g': 'git-control:toggle'

  # disable git-plus direct commands
  'shift-cmd-A': 'unset!'
  'shift-cmd-A a': 'unset!'
  'shift-cmd-A c': 'unset!'
  'shift-cmd-A p': 'unset!'
  'shift-cmd-A s': 'unset!'
  'shift-cmd-C': 'unset!'
  'shift-cmd-H': 'unset!'
